@font-face {
    font-family: league;
    src: url(fonts/LeagueSpartan-Bold.otf);
}

@font-face {
    font-family: sanchez;
    src: url(fonts/Sanchezregular.otf);
}

body {
    margin-top: 60;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: #202020;
    font-family: sanchez;
}

h2 {
    font-family: league;
}

/* nav bar */
nav li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 0px;
    line-height: 70px;
    float: right;
    font-size: 30px;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: #202020;
}

nav a:visited {
    text-decoration: none;
    color: #202020;
}

.nav-elements a:hover {
    color: #202020;
    text-decoration: underline;
}

#logo {
    font-size: 60px;
    font-family: league;
    color: #202020;
}

#logo a:visited {
    text-decoration: none;
    color: #202020;
}

#logo a:hover {
    text-decoration: none;
    cursor: pointer;
    font-family: league;
    color: #0066ff;
}

/* home page*/
.home-cursor {
  cursor: crosshair;   
}

.home-container {
    position: relative;
}

.home-text {
    position: absolute;
}

#name {
    font-family: league;
    font-size: 135px;
}

#typeIt {
    font-size: 36px;
}

/* portfolio page */
.page-title {
    font-family: league;
    font-size: 50px;
    color: #0066ff;
}

.center {
    text-align: center;
}

/* portfolio page -- OLD */
.portfolio-heading {
    font-size: 30px;
    text-align: center;
    color: #73736f;
}

.portfolio-heading-text {
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    color: #73736f;
    margin-bottom: 30px;
}

#illustrations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.item {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.item:hover {
    opacity: 1;
    transition-duration: 0.25s;
}

/* footer */
footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #202020;
    font-size: 12px;
    color: #ffffff;
}

#icons {
    display: flex;
    flex-direction: row;
}

.icon {
    margin-right: 40px;
}

.icon:hover {
    cursor: pointer;
    animation: bounce 0.42s cubic-bezier(0.4, 0, 0.7, 0.5) 0s infinite alternate;
}

@keyframes bounce {
  100% {
    transform: translateY(10px);
  }
}
